@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900');

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
    font-family: 'Titillium Web', sans-serif;
	
}
body {
	background: #fffff;
	font-size: 16px;
	font-family: sans-serif;
	
}

section {
	position: relative;
	width: 100%;
	
}



.navbar{
    padding: 0 75px;
    position: fixed;
    top:0;
    background:none;
    width:100%;
    height:50px;
	z-index:3;
}
.scroll{
    padding: 0 75px;
  position:fixed;
  top:0;
  background:#333;
  width:100%;
  height:50px;
	z-index:3;
}

section.header .header-icon{
    padding: 10px 20px;
    float: right;
    text-align: right;
    color: #fff;
    font-size: 30px;
    display: none;
}


section.header {
	position: relative;
	background: url('../img/bf.jpg') no-repeat;
	background-size: cover;
	background-attachment:fixed;
	height: 700px;
	padding-top: 20px;
	/*z-index:1;*/
	overflow:hidden;
}
section.header:before{
	position:absolute;
	content:'';
	top:90%;
	left:-40%;
	width:100%;
	height: 100px;
	background:#ffffff;
	transform-origin: left;
	transform: skewY(3deg); 
}
section.header:after{
	position:absolute;
	content:'';
	top:90%;
	right:-60%;
	width:100%;
	height: 100px;
	background:#ffffff;
	transform-origin: right;
	transform: skewY(-3deg); 
    
}

section.header .logo{
	position: relative;
	width: 200px;
	height: 50px;
	
	display:inline-block;
	float: left;
}
section.header .logo span.slogo{
	display:block;
	line-height: 50px;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	font-family: arial;
	text-transform: uppercase;
	color: #f2f2f2;
	
}
section.header .logo span.slogo:after{
	content:'';
	display:block;
	width:50px;
	height: 2px;
	background-color:#3366cc;
}

section.header .nav-bar ul{
    position: relative;
    float: right;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
section.header .nav-bar li {
	padding:0;
	margin:0;
	display: inline-block;
	float: left;
	padding: 0 20px;
}
section.header .nav-bar li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
	color:#f2f2f2;
	transition: .7s 
}
section.header .nav-bar li:hover a{
	color: #929292;
}
/*
section .nav-bar:before{
	position: absolute;
	content:'';
	top:0;
	left:0;
	height:100%;
	width:2px;
	background:#53d397;
	transform: translateX(50%);
}
*/
section.header .center {
    padding: 15px 15px;;
	position:relative;
	max-width: 500px;
    width: 100%;
	height: auto;
	margin: 100px auto;
	text-align: center;
    z-index: 2;
}
section.header .center h2{
	text-align: left;
	margin-bottom:15px;
	line-height: 20px;
	color:#fff;
}
section.header .center:before{
	position: absolute;
	content:'';
	top:25px;
	left:-10px;
	width: 20px;
	height:1px;
	background:#ff2e4c;
}
section.header .center h3{
	text-align: left;
	margin: 40px 0;
	line-height: 20px;
    word-spacing: 5px;
	font-family: arial;
	color:#f2f2f2;
	padding: 0;
}
section.header .center a {
	display: block;
	width: 210px;
	height: 45px;
	border: 3px solid #3366cc;
	border-radius: 20px;
	line-height: 39px;
	font-weight:400;
	font-size: 16px;
	color:#f2f2f2;
	text-decoration:none;
	text-transform: uppercase;
	transition: .5
	
	
}
section.header .center a:hover{
	background: #3366cc;
}
section.header .center a i {
	
	margin-left: 10px;
}


section.header .background-rgba{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(35, 41, 49, .6);
	z-index: -2;
}
/* END SECTION HEADER*/
/* ******************/

section#main{
    margin: 5vh auto;
    padding: 100px 0;
   position: relative;
	width: 100%;
    max-width: 1200px;
	overflow:hidden;
    text-align: center;
	
}
.container{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}


.dark{
  padding:15px;
    background: linear-gradient(to right, #3366cc 0%, #99ccff 100%);
  color:#ffffff;
    border-radius: 15px;
}

.page-title{
    font-size: 35px;
    color: #3366cc;
    padding: 15px;
}


#main p{
    font-size: 18px;
    margin-bottom: 25px;
    text-align: left;

}
article#main-col{
  float:left;
  width:65%;
    padding:0 25px;
}

aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

#contact-us{
    margin: 150px 0 50px 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 90vh;
    background: linear-gradient(0deg,#3333ff 50%,#fff 50%, #fff);


}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 40px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);

}
.wrapper h2{
    color: #666;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.5s;
}

.input-field{
    position: relative;
    width: 100%;
    margin-top: 50px;

}
.input-field input,
.input-field textarea{
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #666;
    font-size: 16px;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
    resize: none;

}

.input-field label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 16px;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
}


.input-field input:focus + label,
.input-field textarea:focus + label,
.input-field input:valid + label,
.input-field textarea:valid + label{
    top: -25px;
    font-size: 14px;
    padding: 2px 5px;
    background: #3333ff;
    color: #fff;
    border-radius: 4px;
}

.btn{
    margin-top: 20px;
	background: linear-gradient(to right, #3333ff 0%, #00ccff 100%);
    color: #fff;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.5s;
    float: right;
}

.btn:hover{
    background: #6b3aff;

}

@media (max-width: 600px) {
    .wrapper{
        width: 100%;
        padding: 40px;

    }
    .wrapper h2{
        background: #6b3aff;
        color: #fff;
    }

}


section.services {
	position: relative;
	max-width: 1200px;
    width: 100%;
	margin: auto auto;
	margin-top: 50px;
}
section.services .heading {
	margin:0;
	padding:0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
	line-height:100px;
	margin-bottom: 15px;
	text-align: center;
    color: #3366cc;
}
section.services .headul{
	position: relative;
	padding:0;
}
section.services .headul:before{
	content:'';
	display:block;
	width:220px;
	height:2px;
	margin: 0 auto;
	background:#3366cc;
	
}
section.services .headul:after{
	content:'';
	display:block;
	width:60px;
	height:5px;
	margin: 0 auto;
	background:#3366cc;
	
}
section.services p{
	font-size: 20px;
	line-height: 50px;
	padding: 20px 50px 100px 50px;
	text-align: center;
	font-family:arial;
	margin: 0 auto;
}
section.services .feature{
	position: relative;
	width: 100%;
	height: auto;
	display: inline-block;
    box-sizing: border-box;
	
}
section.services .feature .box {
	width: 33.33333%;
	height: 250px;
	float:left;
	display: inline-block;
}
section.services .feature .box .icon{
	display:inline-block;
	width:25%;
	height:100%;
	float: left;
	color:#3366cc;
	font-size: 50px;
    padding-left: 10px;;
}
section.services .feature .box .about{
	display:inline-block;
	width: 70%;
	height:100%;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
}
section.services .feature .box .about .head{
	text-transform: uppercase;
	font-weight:700;
	text-align: left;
	padding-bottom: 10px;
}
section.services .feature .box .about .parag{
	padding:0;
	margin:0;
	text-align: left;
	font-size:16px;
	line-height:25px;
	font-weight:normal;
}

section.services .head{
    color: #666699;
}


section.portfolio{
	margin: auto auto;
	position: relative;
	width: 100%;background: linear-gradient(to right, #3333ff 0%, #00ccff 100%);
	overflow:hidden;
	z-index:0;
	
}

/* white in the background */
section.portfolio:before{
	position: absolute;
	content: '';
	top:90%;
	left:0;
	width:100%;
	height:120px;
	background:#ffffff;
	transform: skewY(-6deg);
	transform-origin:left;
	z-index:-1;
}
section.portfolio .content{
	max-width: 1200px;
	height: 100%;
	margin: auto ;
}
section.portfolio .left-ser{
	width: 30%;
	height: 100%;
	display: inline-block;
	float: left;
}
section.portfolio .left-ser h4 {
	padding:0;
	text-align:, left;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 100px;
	color:#ffffff;
	font-family: arial;
}
section.portfolio .be-line:before {
	content:'';
	display: block;
	width: 100px;
	height:2px; 
	background: #ffffff;
}
section.portfolio .be-line:after {
	content:'';
	display: block;
	width: 20px;
	height:5px; 
	background: #ffffff;
}
section.portfolio .left-ser p{
	color:#ffffff;
	margin: 30px 0px;
	font-size: 18px;
	line-height:20px;
	
}
/*
section.portfolio .left-ser p:nth-of-type(1){
	margin-bottom: 100px;
}*/
section.portfolio .right-ser{
	width: 70%;
	height: 100%;
	display: inline-block;
	
}
section.portfolio .right-ser a{
	position: relative;
	display:inline-block;
	margin-top: 15px;
	overflow:hidden;
    width: 22%;	
}
section.portfolio .right-ser a:nth-child(5){
	box-shadow: 0 15px 15px rgba(0,0,0, .5);
}
section.portfolio .right-ser a:nth-child(6){
	box-shadow: 0 15px 15px rgba(0,0,0, .5);
}
section.portfolio .right-ser a:nth-child(7){
	box-shadow: 0 15px 15px rgba(0,0,0, .5);
}
section.portfolio .right-ser a:nth-child(8){
	box-shadow: 0 15px 15px rgba(0,0,0, .5);
}
section.portfolio .right-ser a:before{
	position: absolute;
	content:'';
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:.5;
	transition:.7s;
	
}
section.portfolio .right-ser a:hover:before{
	opacity:0;
}

footer{
	position: relative;
	width: 100%;
	height:40px;
	background: #333;
	
}

footer span{
	height:100%;
	display: inline-block;
	line-height:40px;
	color: #fff;
	
	margin: 0 70px;
	float: left;
}
footer .nav-social{
	height: 100%;
	padding: 0;
	margin: 0;
	display: inline-block;
	float: right;
	color: #999999;
}
footer .nav-social li {
	display: inline-block;
	float: left;
	margin: 0 20px;
}
footer .nav-social li a{
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	text-decoration: none;
}



@media (max-width:1060px){
    .navbar{
    padding: 0 ;
}
.scroll{
    padding: 0 ;
}
}
/* Media Queries */
@media(max-width: 800px){
    .scroll ul,
      .navbar ul {
        position: relative;
        float: none;
        width: 100%;
        display: none;
          z-index: 2; background: #333;
}
    nav-bar{
        
    }
    
   section.header .scroll .header-icon,
   section.header .navbar .header-icon {
      display: block;
       padding-top: 0;
        padding-bottom: 0;
       margin-bottom: -10px;
  }
    .scroll.responsive ul,
    .navbar.responsive ul {
        clear: both;
        float: none;
        display: block;
        text-align: left;
        z-index: 2;
  }
    .scroll.responsive ul li,
    .navbar.responsive ul li{
        float: none;
        display: block;
        text-align: left;
        z-index: 1;
        
    }
    
    
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
      padding: 15px 15px;
  }

 

  #showcase h1{
    margin-top:40px;
  }

  #newsletter form input[type="email"],#newsletter input[type="text"], textarea{
    width:80%;
    margin-bottom:5px;
  }
    
    
    section.portfolio .right-ser a{
    width: 45%;	
}
}




@media (max-width:670px){
   
    
     section.services .feature .box {
	width: 50%;
}
    
    section.portfolio .left-ser{
	width: 100%;
	float: none;
        padding: 0 25px;
}
    section.portfolio .right-ser{
	width: 100%;
	
}
    section.portfolio .right-ser a{
    width: 48%;	
        text-align: center;
}
    
    footer span{
	margin: 0 10px;
}
}

@media (max-width:470px){
   
    
     section.services .feature .box {
	width: 100%;
         padding-left: 15px;
}
    section.portfolio .right-ser a{
    width: 100%;	
}
}





































