
footer{
	position: relative;
	width: 100%;
	height:40px;
	background: #333;
	
}

footer span{
	height:100%;
	display: inline-block;
	line-height:40px;
	color: #fff;
	
	margin: 0 70px;
	float: left;
}
footer .nav-social{
	height: 100%;
	padding: 0;
	margin: 0;
	display: inline-block;
	float: right;
	color: #999999;
}
footer .nav-social li {
	display: inline-block;
	float: left;
	margin: 0 20px;
}
footer .nav-social li a{
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	text-decoration: none;
}