
@media (max-width:1060px){
    .navbar{
    padding: 0 ;
}
.scroll{
    padding: 0 ;
}
}
/* Media Queries */
@media(max-width: 800px){
    .scroll ul,
      .navbar ul {
        position: relative;
        float: none;
        width: 100%;
        display: none;
          z-index: 2; background: #333;
}
    nav-bar{
        
    }
    
   section.header .scroll .header-icon,
   section.header .navbar .header-icon {
      display: block;
       padding-top: 0;
        padding-bottom: 0;
       margin-bottom: -10px;
  }
    .scroll.responsive ul,
    .navbar.responsive ul {
        clear: both;
        float: none;
        display: block;
        text-align: left;
        z-index: 2;
  }
    .scroll.responsive ul li,
    .navbar.responsive ul li{
        float: none;
        display: block;
        text-align: left;
        z-index: 1;
        
    }
    
    
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
      padding: 15px 15px;
  }

 

  #showcase h1{
    margin-top:40px;
  }

  #newsletter form input[type="email"],#newsletter input[type="text"], textarea{
    width:80%;
    margin-bottom:5px;
  }
    
    
    section.portfolio .right-ser a{
    width: 45%;	
}
}




@media (max-width:670px){
   
    
     section.services .feature .box {
	width: 50%;
}
    
    section.portfolio .left-ser{
	width: 100%;
	float: none;
        padding: 0 25px;
}
    section.portfolio .right-ser{
	width: 100%;
	
}
    section.portfolio .right-ser a{
    width: 48%;	
        text-align: center;
}
    
    footer span{
	margin: 0 10px;
}
}

@media (max-width:470px){
   
    
     section.services .feature .box {
	width: 100%;
         padding-left: 15px;
}
    section.portfolio .right-ser a{
    width: 100%;	
}
}