
#contact {
    text-align: center;
    background-color: #f2f4f4;
    padding: 50px 0;
    height: 700px;
}
.col-2{
    width: 50%;
    float: left;
}

.col-2 img{
    width: 450px;
    height: 400px;
}

.input, textarea{
    background-color: white;
    width: 80%;
    height: 40px;
    border: 1px solid #999;
    border-radius: 15px;
    margin: 5px 0;
    /* for arabic
    direction: trl;
    */
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    
}

textarea{ 
    height: auto
}