


#portofolio {
    background-color: #457dbf;
    text-align: center;
    color: white;
    padding-top: 50px;
    
}
#portofolio h1{color: white;}


.row {
    
    width: 90%;
    /* set in center */
    margin: 50px auto;
}

.col-3{
    border: 1px solid #cccccc;
    width: 32%;
    float: left;
    
    margin-right: 1%;
    
    padding: 10x;
        
    border-radius: 15px;
    
}

.col-left{
    margin-left: 1%;
}

.col-3 img{
    width: 100%;
    max-width: 260px;
    height: 150px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    box-shadow:0px 5px 5px black; 
}
.por-header {
    font-size: 30px;
    /*
    font-weight: bold;
    */
    color: #f2f4f4;
}

.CTA {
    width: 190px;
    height: 50px;
    margin: 50px 0;
    border-radius: 25px;
    background-color:#003366;
    color: white;
    font-size: 120%;
    box-shadow: 0 5px #999;
    border: none;
    cursor: pointer;
    transition: 0.07s;
}


.CTA:active{
    box-shadow: 0 0px #666;
    background-color: #457dbf;
    transform: translateY(5px);
}

