#portofolio{
    padding:75px 0 75px 0;
    margin: 0;
    background-color: #1a1a29;
    text-align: center;
    color: white;
    font-family: 'Cairo', sans-serif;
    
    box-sizing: border-box;
   
}

#portofolio .row{
    width: 100%;
     margin: 50px auto;
}

#portofolio .row .col-3{
    position: relative;
    width: 33.333333%;
    float: left;
    overflow: hidden;
    padding: 25px;
}

#portofolio .row .col-3 .details{
    
    text-align: center;
    width: calc(100% - 50px);
    position: absolute;
    bottom: -150px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(90,24,24,.9);
    
    transition: .5s;
    margin:0 25px 26px 26px;
}
#portofolio .row .col-3:hover .details{
    bottom: 0;
    height: 50%;
    border-radius: 15px
}

#portofolio .row .col-3 img{
    
    width: 100%;
    max-width: 350px;
    height: 300px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    box-shadow:0px 5px 5px black; 
    transition: 5s;
}

#portofolio h3{
    margin-bottom: 10px;
    color:#2ecc71;
}