#resume{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #1a1a29;
    color: white;
    
    font-family: 'Cairo', sans-serif;
}

#resume .container{
    padding: 75px 50px;
    margin: 0 auto;
}

#resume h2{
    padding: 0;
    margin: 0;
}

#resume p{padding: 50px;
margin: 0;}
